body {
    background-color: purple;
}

button {
    display: block;
}

.squares {
    background-color: black;
    color: white;
    line-height: 7em;
    height: 7em;
    width: 7em;
    margin: 2em 2em;
    float: left;
    text-align: center;
    
    
    
}



